.about-container {
  min-width: 100vw;
    margin-left: 0;
    margin-right: 0;
    margin-top: 140px; /* Assuming you want to keep the top margin */
    padding-bottom: 60px; /* Ensures content is above the footer, adjust as necessary */
    border-top: 1px solid violet;
    text-align: center;
    box-sizing: border-box; /* Ensure padding does not add to the height */
}


.about-article {
    max-width: 1200px;
    height: 1000px;
    margin: 0 auto;
    text-align: center;
}

h1 {
    text-align: left;
    padding-left: 10px;
}

.profile-pic {
    width: 80%; /* Default width to scale on smaller screens */
    max-width: 500px; /* Maximum width for large screens */
    height: auto; /* Maintain aspect ratio */
    margin: 0 auto;
  }

p {
    font-size: medium;
    padding: 20px;
    padding-left: 10%;
    padding-right: 10%;
    text-align: justify;
}

/* Large desktops */
@media (min-width: 1200px) {
  .profile-pic {
    width: 50%; /* Reduce size to 50% on large desktops */
    max-width: 600px;
  }
}

/* Tablets and small desktops */
@media (min-width: 768px) and (max-width: 1199px) {
  .profile-pic {
    width: 60%; /* Adjust size for medium screens */
  }
}

/* Phones */
@media (max-width: 767px) {
  .profile-pic {
    width: 50%; /* Half the screen size on small devices */
  }
}


/* @media (max-width: 768px) {

    .about-container > div > p {
        min-width: 100%; 
        max-width: 100%;
        padding-top: 0px;
    }
    .about-container div {
        max-width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        height: 100%;
    }

    .about-container > div > img {
        width: 280px;
        margin: calc(50% - 140px);
        padding-bottom: 1px;
        padding-top: 2px;
        margin-bottom: 0px;
        margin-top: 0px;
    }

}

@media (max-width: 480px) {
    .about-container > div > img {
        width: 140px;
        margin: calc(50% - 70px);
        padding-bottom: 1px;
        padding-top: 2px;
        margin-bottom: 0px;
        margin-top: 0px;
    }
} */